
[submodule "year3/PRO"]
	path = year3/PRO
	url = https://github.com/RadekPelikan/PRO
[submodule "year3/WAP/projects/_1_September-Millionaire"]
	path = year3/WAP/projects/_1_September-Millionaire
	url = https://github.com/RadekPelikan/_1_September-Millionaire
