@import "bulma.scss";
$base-color: #393e46;
$darker-color: #222831;
$highlight-color: #FFD369;
$subtext-color: #EEEEEE;
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: $base-color;
}

@mixin center {
    display: flex;
    justify-content: center;
}

#question-wrapper {
    @include center();
    width: 80vw;
    height: 5em;
    background-color: red;
}

#contents {
    @include center();
    width: 100%;
    border: 5px solid black;
}

.next-question {
    animation: slide 2s forwards;
}

@keyframes slide {
    50% {
        transform: translateX(-100vw);
        animation-timing-function: steps(1, end);
    }
    50% {
        transform: translateX(100vw);
    }
}